*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#050510;
}

.calculator{
  width:350px;
  padding:26px;
  border-radius:20px;
  background:#0d0d1f;

  box-shadow:
    0 0 30px #00ffff,
    0 0 45px #00ffff;
}

.calculator h1{
  text-align:center;
  color:#00ffff;
  margin-bottom:30px;

  text-shadow:
    0 0 10px #00ffff,
    0 0 20px #00ffff;
}

#display{
  width:100%;
  height:60px;
  border:none;
  outline:none;
  margin-bottom:20px;
  border-radius:10px;

  background:#111122;
  color:#00ffff;

  font-size:28px;
  padding:10px;
  text-align:right;

  box-shadow:
    inset 0 0 10px #00ffff;
}

.buttons{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:12px;
}

button{
  height:60px;
  border:none;
  border-radius:12px;

  background:#111122;
  color:#00ffff;

  font-size:22px;
  cursor:pointer;

  transition:0.3s;

  box-shadow:
    0 0 10px #00ffff,
    inset 0 0 10px #00ffff;
}

button:hover{
  transform:scale(1.05);

  background:#00ffff;
  color:black;
}

.equal{
  grid-column:span 2;

  background:#ff00ff;
  color:white;

  box-shadow:
    0 0 10px #ff00ff,
    inset 0 0 10px #ff00ff;
}

.equal:hover{
  background:#ff66ff;
}